# Python>=3.8,<4.0
chromadb==1.1.0
pypdf==6.0.0
tqdm==4.67.1
tiktoken==0.11.0
langchain==0.3.27
langchain-openai==0.3.33
langchain-chroma==0.2.6
langchain-community==0.3.29
langchain-huggingface==0.3.1